/**
 * Box component
 */
@import "../../theme/variables";

:host {

}

.box {
    background-color: $mediumGreen;

    &.empty-box {
        background-color: transparent;
    }

    > .inner {
        box-sizing: border-box;
        padding: 16px 16px 16px 16px;

        .title {
            color: $lightGreen;
        }

        .num {
            font-size: 19px;
            margin-left: 0.3em;
        }

        .legend {

        }
    }
}
