<div viewport>
    <div id="status" class="status hidden">
        <span *ngIf="errorString!== null" [innerText]="errorString" class="error"></span>
        <span *ngIf="successString!== null" [innerText]="successString" class="success"></span>
    </div>

    <div flex flex-columns flex-fill>

        <div flex flex-columns class="page-title">
            <h1 flex>myGarden</h1>
        </div>

        <div flex flex-rows flex-align-stretch>

            <box-component flex-fill [model]="boxes[0]"></box-component>
            <box-component flex-fill [model]="boxes[1]"></box-component>
            <box-component flex-fill [model]="boxes[2]"></box-component>

            <div flex-fill>
                <div class="knob-controls">
                    <div class="inner">

                        <div>
                            <button (click)="sendServoCommand(0)" [disabled]="servoCmdDisabled">Set servo => 0</button>
                            <button (click)="sendServoCommand(90)" [disabled]="servoCmdDisabled">Set servo => 90</button>
                        </div>

                        <div>
                            <cbutton></cbutton>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div flex flex-rows flex-align-stretch style="margin-top:32px;">

            <chart-component flex-fill [name]="'Soil moisture'" [showValsOf]="'sh'" [view]="chartsView"></chart-component>
            <chart-component flex-fill [name]="'Air humidity'" [showValsOf]="'ah'" [view]="chartsView"></chart-component>
            <chart-component flex-fill [name]="'Air temperature'" [showValsOf]="'at'" [view]="chartsView"></chart-component>

        </div>

    </div>


    <div class="debug">
        <div class="header">C</div>
        <div class="messages" id="debug">sd</div>
    </div>

</div>
